/* Header style 시작 */

.textc{
    text-align: center;
}

.textm{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    background-color: rgb(187, 140, 185);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.headerword{
    color: white;
    font-weight:bold;
    margin: 0 50px;
    font-family: Roboto;
    text-decoration: none;
}

.secondheader{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header.js */
.locate{
    background-color: white;
    display: inline-block;
    padding: 10px;
    margin-right: 100px;
}

.lc{
    width: 200px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.lc:focus{
    border: 1px solid #9B51E0;
    box-sizing: border-box;
    border-radius: 10px;
    outline: 3px solid #F8E4FF;
    border-radius: 10px;
}

.koreamap{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.triplist{
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    background: rgb(216, 170, 229);
    padding: 100px 0;
}


/* Header style 종료 */
.backBoard{
    width: 500px;
    height: 500px;
    background-color:rgb(187, 140, 185);
    display: flex;
    overflow-y: auto;
    max-height: 500px;
    flex-direction: column;
}

.no-bullet{
    list-style-type: none;
}

.imgLeft{
    display: inline-block;
}

.textRight{
    display: inline-block;
}

.region{
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather{
    margin-left: auto;
    padding-right: 20px;
}

.weatherinfo{
    text-align: right;
}
/*  */
